$color-yellow:#ffe600;
$color-green:#00a650;
$color-blue:#0d099b;

$color-white:#ffffff;
$color-white2:#ebebeb;

$color-silver:#C0C0C0;


$color-grey:#666;
$color-grey2:#333;

$border-style: 1.5px solid #00000000;
$box-shadow: 0 1px 2px 0 rgba(0,0,0.2);
$border-radius: 10px;

$break-point-1:'576px';
$break-point-2:'768px';
$break-point-3:'992px';

