@use 'bootstrap/dist/css/bootstrap.min.css';
@use './constants.scss' as *;

@font-face {
  font-family: 'proximanova';
  src: url('../assets/fonts/proximanova_light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:'proximanova';
  height: 100%;
  width: 100%;
  background-color: $color-white2;

}

input {
  padding: .62rem;
  font-size:1rem;
  background-color:$color-white;
  border: $border-style;
  box-shadow: $box-shadow;
  border-radius: 2px;
  font-family: inherit;

  &:focus{
    box-shadow: unset;
    outline: none; 
    border: 1px solid #4169E1;
  }
}

h3,h4 {
  color:$color-grey2;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

h4{
  font-size: 1.2rem;
}

.form-switch .form-check-input {
  width: 3rem;
  cursor: pointer;
}


