
@use './constants.scss' as *;

@font-face {
  font-family: 'proximanova';
  src: url('./assets/fonts/proximanova.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:'proximanova';
  height: 100%;
  width: 100%;
}

input {
  padding: .62rem;
  font-size:1rem;
  background-color:$color-white;
  border: $border-style;
  box-shadow: $box-shadow;
  border-radius: 2px;
  font-family: inherit;

  &:focus{
    box-shadow: unset;
    outline: none; 
    border: 1px solid #4169E1;
  }
}


